## Assignment 1

In [38]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [39]:
#labels = ['unknown', 'prices', '']
real_estate_prices = pd.read_csv("./houses.csv")
rep_values = real_estate_prices.iloc[:,1]
rep_mean = rep_values.mean()
rep_median = rep_values.median()
rep_std = rep_values.std()
rep_min = rep_values.min()
rep_max = rep_values.max()
#real_estate_prices
print(f'{rep_mean}, {rep_median}, {rep_std}, {rep_min}, {rep_max}')
real_estate_prices

174387.9776197762, 129000.0, 351464.9420183735, 150, 48465717

,{02A6460F-C1F3-4977-B7ED-2A77C79302AE},52000,2001-12-07 00:00,DE6 1BL,S,N,F,1A,Unnamed: 8,OLD HILL,ASHBOURNE,ASHBOURNE.1,DERBYSHIRE DALES,DERBYSHIRE,A,A.1
0,{5EEB0C41-09F5-4BDF-A73E-A4E72E20BFC4},57000,2003-09-12 00:00,B36 0RA,T,N,F,44,NaN,GREENFINCH ROAD,BIRMINGHAM,BIRMINGHAM,SOLIHULL,WEST MIDLANDS,A,A
1,{09975216-3588-418C-B6C5-A5704B0E77DE},69500,2005-12-21 00:00,OL16 2XR,T,N,L,143,NaN,BELFIELD ROAD,ROCHDALE,ROCHDALE,ROCHDALE,GREATER MANCHESTER,A,A
2,{44CB83B9-0EC3-48D4-9B8D-B34D13D3C09E},84000,2001-01-31 00:00,SN1 4LJ,T,N,F,34,NaN,KINGSHILL ROAD,SWINDON,SWINDON,SWINDON,SWINDON,A,A
3,{74828706-CBFC-406D-B7B6-394B5863E22E},110000,1998-02-27 00:00,OX3 8AJ,S,N,F,62,NaN,WHARTON ROAD,HEADINGTON,OXFORD,OXFORD,OXFORDSHIRE,A,A
4,{38531A9B-1D6A-466B-93AC-D91243B9A331},94500,1995-08-04 00:00,GL52 3NE,T,N,F,THE STABLES,2,MILL LANE,PRESTBURY,CHELTENHAM,CHELTENHAM,GLOUCESTERSHIRE,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99994,{E9AE12EB-4BAE-4BAA-9B61-7424BCEE896F},158000,2008-01-14 00:00,CH4 8UP,S,N,F,11,NaN,ALED WAY,SALTNEY,CHESTER,FLINTSHIRE,FLINTSHIRE,A,A
99995,{CF696990-E514-4583-AAB9-9A09F8424FE2},71000,2001-11-12 00:00,LL18 6AU,D,N,F,SITKA,NaN,LOWER FOEL ROAD,DYSERTH,RHYL,DENBIGHSHIRE,DENBIGHSHIRE,A,A
99996,{52518EEF-C120-46F7-8B04-C1A4785E06FD},283500,2000-01-25 00:00,EN7 5JU,D,N,F,20,NaN,BROADFIELDS,GOFFS OAK,WALTHAM CROSS,BROXBOURNE,HERTFORDSHIRE,A,A
99997,{154A9EA0-B6EA-4FD7-9C8A-F984063DA5A6},37000,1998-04-09 00:00,CV3 1FU,T,N,F,31,NaN,LODGE ROAD,NaN,COVENTRY,COVENTRY,WEST MIDLANDS,A,A
99998,{66A071E0-9E4A-4C76-AE1A-34DE6C281D23},155000,2014-10-10 00:00,SE25 5EG,F,N,L,"REBECCA COURT, 40",FLAT 2,DAGNALL PARK,NaN,LONDON,CROYDON,GREATER LONDON,A,A

In [68]:
# Plot of the distribution of the prices

n_bins = rep_values.size
bins = [i for i in range(0, rep_max, int(rep_max/6))]
print(bins)
print(rep_values.values.size)
plt.hist(rep_values.values, bins=np.arange(rep_min, rep_max))
plt.ylabel('Price')
plt.title('Prices of real estates in England')
plt.show()

[0, 8077619, 16155238, 24232857, 32310476, 40388095, 48465714]
99999

:

: